<!--Confeccionar una aplicación que permita administrar un vector de objetos que almacena en 
  cada elemento el código, descripción y precio de un artículo. Se debe poder agregar, borrar 
  y modificar los datos de un artículo.-->
<div class="container-fluid">
  <h1>Administración de artículos</h1>
  <!--La directiva *ngIf para no mostrar la tabla HTML en caso que el vector 'articulos' se encuentre 
    vacío-->
  <table class="table">
    <thead class="thead-dark">

      <tr *ngIf="hayRegistros(); else sinarticulos">
        <th scope="col">Codigo</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Borrar</th>
        <th scope="col">Seleccionar</th>
      </tr>
    </thead>
    <!--En la vista (app.component.html) generamos una tabla HTML que muestre los datos del modelo...
   y lo recorremos mediante la directiva *ngFor-->
    <tr *ngFor="let art of articulos">
      <td>{{art.codigo}}</td>
      <td>{{art.descripcion}}</td>
      <td>{{art.precio}}</td>
      <!--Disponemos en cada fila dos botones y definimos sus respectivos eventos 'click' para que al ser 
    presionados llamen a métodos del modelo para borrar o seleccionar el artículo respectivo. 
    Los métodos envían como parámetro el artículo para saber cual borrar o seleccionar.-->
      <th><button (click)="borrar(art.codigo)">Borrar?</button></th>
      <th><button  (click)="seleccionar(art)">Seleccionar</button></th>
    </tr>
  </table>
  <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>
  <!--En la vista disponemos una serie de 'input' que nos permiten ingresar el código, descripción 
    y precio de un artículo:-->
  <div>
    <p>
      Codigo:<input type="number" [(ngModel)]="art.codigo" />
    </p>
    <p>
      descripcion:<input type="text" [(ngModel)]="art.descripcion" />
    </p>
    <p>
      precio:<input type="number" [(ngModel)]="art.precio" />
    </p>
    <p><button (click)="agregar()">Agregar</button>
      <button (click)="modificar()">Modificar</button></p>
  </div>
</div>